<div class="text-center col">
    <div *ngIf="info" class="wrapper" [ngStyle]="{'margin-top': topMargin}">
      <mat-spinner [diameter]="35"></mat-spinner>
      <p class="mt-2 text-center mat-body-2">{{info}}</p>
    </div>
    <div *ngIf="error" class="wrapper" [ngStyle]="{'margin-top': topMargin}">
      <img [src]="'assets/svg/not-found.svg'" class="img-fluid" alt="No data found">
      <p class="text-center mx-auto mat-body-2">{{error}}</p>
      <div class="actions d-flex justify-content-center">
        <button mat-flat-button class="mx-1" *ngIf="showBack" color="accent" (click)="onButtonClick(false)" type="button">Back</button>
        <button mat-raised-button class="mx-1 small-button" color="primary"  *ngIf="showRetry" (click)="onButtonClick(true)" type="button">Retry</button>
      </div>
    </div>
  </div>