:host {
    width: 100%;
    .wrapper {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 20%;
            margin-bottom: 1rem;
        }
        button{
            width: 130px;
            font-size: 15px;
        }
    }
}