<mat-card class="mat-no-pad">
    <app-search-bar searchType="Search Transactions"></app-search-bar>
    <table mat-table #table [dataSource]="dataSource" class="profiler-table-with-head" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
            <td mat-cell *matCellDef="let stationData"> {{stationData.customerName}} </td>
        </ng-container>
        <!-- Progress Column -->
        <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
            <td mat-cell *matCellDef="let stationData"> {{stationData.reference}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="trans_Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Status </th>
            <td mat-cell *matCellDef="let stationData"> {{stationData.trans_Status}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="trans_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </th>
            <td mat-cell *matCellDef="let stationData"> {{stationData.trans_date | date }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
            <td mat-cell *matCellDef="let stationData"> {{stationData.amount}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- CHECK IF NO DATA THEN DISPLAY NO RECORD FOUND -->
    <div class="no-records" *ngIf="(noData | async) && !isLoading">
        <app-data-error-handling [topMargin]="'-1rem'" [showBack]="false" (retryEvent)="retryEventHandler($event)"
        [error]="'No record(s) Found. Please change search criteria or retry'"></app-data-error-handling>
    </div>
    <div *ngIf="isLoading" style="display: flex; min-height: 500px; justify-content: center;align-items: center;">
        <!-- <mat-progress-spinner diameter="40" color="primary" mode="indeterminate">
        </mat-progress-spinner>    -->
        <!-- <app-data-error-handling [topMargin]="'-1rem'" [showBack]="false" (retryEvent)="retryEventHandler($event)"
        [info]="'Loading...Please wait'"></app-data-error-handling> -->

        <app-data-error-handling [topMargin]="'-1rem'" [showBack]="false" (retryEvent)="retryEventHandler($event)"
        [error]="'No record(s) Found. Please change search criteria or retry'"></app-data-error-handling>
    </div>

    <div [hidden]="(noData | async) || isLoading">
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="profiler-table-pagination">
        </mat-paginator>
    </div>

</mat-card>