// .onboarding-form{
//   position: absolute;
//   left: 700px;
//   top: 100px
// }

    .mat-form-field {
      width: 400px;
      border-color: rgba(216, 216, 216, 0.7);
      label {
        color: var(--color-accent-lighter);
        font-weight: inherit;
      }
    }

::ng-deep{
.login{
  & .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #000;
  }
}
}
   
