<form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1 class="text-center mat-headline">737<span class="f-g-color">Cashout Portal</span></h1>
  <h1 class="text-center" style="margin-top: 50px; margin-bottom: 10px;">Login</h1>
  <p class="text-center mat-small">Please provide login details</p>
  <div class="d-flex justify-content-center align-items-center flex-column">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput placeholder="Enter your Username" formControlName="username">
      <mat-error *ngIf="UserName.hasError('required')">
        Please enter your Username
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <!-- <input matInput  placeholder="Enter your Password" formControlName="Password"> -->
      <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" placeholder="Enter your Password">
    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
      <mat-error *ngIf="Password.hasError('required')">
        Please enter your password
      </mat-error>
    </mat-form-field>

    <mat-checkbox  class=" d-flex align-self-start" color="primary" (change)="staffCheck($event)" formControlName="isGTBankStaff"> GTBank Staff </mat-checkbox>

  <p class=" d-flex align-self-start" style="font-size:9px;" >This is only required for GTBank staff's. None GTBank staff should ignore the checkbox.</p>

    <button  mat-raised-button color="primary" type="submit">
      Login
    </button>
  </div>

</form>
