<!-- <mat-card class="border-top animated notification-wrapper">
<div class="header d-flex justify-content-between align-items-center mb-2">
  <p class="mat-body-2 mb-0">{{message.title | titlecase}}</p>
  <button (click)="messaging.clearMessage()" mat-icon-button aria-label="Close Notification">
    <mat-icon>close</mat-icon>
  </button>
</div>
<p class="mat-body small">{{message.body}}</p>
<div class="footer d-flex justify-content-start">
  <small class="mat-caption">{{message.category || 'Application Message'}}</small>
</div>
</mat-card> -->
