    <mat-card>
        <h2>Search Transactions</h2>
        <mat-radio-group value="1" color="primary" aria-label="Select option" (change)="changeStation($event)">
            <mat-radio-button value="1">All Stations</mat-radio-button>
            <mat-radio-button value="2">Search By Stations</mat-radio-button>
        </mat-radio-group>

        <div class="d-flex align-items-center">
            <mat-form-field appearance="outline" style="margin-right: 10px;" *ngIf="showStation">
                <mat-select id="stationcode" (selectionChange)="selectedStation($event)"
                    placeholder="Select Station" required>
                    <mat-option *ngFor="let station of stations" [value]="station.saP_Code">
                        {{station.station}}</mat-option>
                </mat-select>
                <mat-error>Station is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startPicker" (focus)="startPicker.open()" class="c-pointer">
                <mat-datepicker-toggle matPrefix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            <h3 class="mx-3">to</h3>
            <mat-form-field appearance="outline">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endPicker" (focus)="endPicker.open()" class="c-pointer">
                <mat-datepicker-toggle matPrefix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
        </div>
        
        
    </mat-card>
