<mat-toolbar id="main">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="opened$.next(!opened$.getValue())"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span *ngIf="!(isHandset$ | async)">737<span class="f-g-color">Cashout Portal</span></span>
    <div class="spacer"></div>
    <div [ngClass]="{'gt-mx-52': !(isHandset$ | async)}" class="toolbar-actions">
      <button mat-icon-button>
        <mat-icon class="text-success">help</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon color="accent">apps</mat-icon>
      </button> 
      <button mat-icon-button>
        <mat-icon color="accent">notifications
        <!-- <span [matBadge]="11" matBadgeOverlap="false" style="margin-left: -10px"></span> -->
        </mat-icon>
      </button>    
      <button mat-icon-button (click)="logout()">
        <mat-icon color="accent">power_settings_new</mat-icon>
      </button>   
    </div>
  
    <mat-icon *ngIf="!(isHandset$ | async)" svgIcon="gtb-logo"></mat-icon>
  
  </mat-toolbar>
  
