.mat-toolbar#main {
    background-color: white;
    position: fixed;
    border-bottom: 2px solid #eceaeaee;
    top: 0;
    right: 0;
    left: 0;
    z-index:100;
    font-size: 1.5em;
    .toolbar-actions {
      .mat-icon {
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
  