.mat-toolbar#main {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index:100;
  font-size: 1.5em;
  .toolbar-actions {
    .mat-icon {
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

.bg-image {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: auto;
}


