::ng-deep {
    
    .search-bar {
        margin-bottom: -4px;
        width: 100%;
        & .mat-form-field-wrapper {
            padding-bottom: 0;
        }
        
        .mat-form-field-outline-start, .mat-form-field-outline-end { border-radius: 0 !important; } 
    }
}