
<mat-form-field class="search-bar" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="{{searchType? searchType : ''}}" [formControl]="searchListFilter">
    <button mat-icon-button matPrefix [attr.aria-label]="'Search'" [attr.aria-pressed]="'true'">
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>