<h1>Hello World</h1>
<!-- <form class="" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <h1 class="text-center mb-0 mat-h1">Set Password</h1>
  <p>please change from the default password</p>
  <div class="d-flex justify-content-center align-items-center flex-column">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput placeholder="Enter your Username" formControlName="UserName">
      <mat-error *ngIf="UserName.hasError('required')">
        Please enter your Username
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput placeholder="Enter your New Password" formControlName="newPassword">
      <mat-error *ngIf="newPassWord.hasError('required')">
        Please enter your Password
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Login
    </button>
  </div>
</form> -->
