@import "~@angular/material/theming";

$custom-typography: mat-typography-config($font-family: "'Open Sans', 'Helvetica Neue', sans-serif",
  $headline: mat-typography-level(28px, 32px, 600, $letter-spacing: -0.07em),
  $title: mat-typography-level(18px, 24px, 600, $letter-spacing: -0.06em),
  $body-1: mat-typography-level(14px, 18px, 400),
  $body-2: mat-typography-level(14px, 18px, 700),
  $caption: mat-typography-level(10px, 12px, 400),
  $button: mat-typography-level(16px, 20px, 400),
  $input: mat-typography-level(14px, 1.2, 400, $letter-spacing: -0.07em),
);


@include mat-core($custom-typography);

$cashout-portal-primary: mat-palette($mat-deep-orange, A700);
$cashout-portal-accent: mat-palette($mat-grey, 600);
$cashout-portal-success: mat-palette($mat-green, 900);

// The warn palette is optional (defaults to red).
$cashout-portal-warn: mat-palette($mat-red, 400, 200, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cashout-portal-theme: mat-light-theme(
  (color: (
    primary: $cashout-portal-primary,
    accent: $cashout-portal-accent,
    warn: $cashout-portal-warn,
    )));


@include angular-material-theme($cashout-portal-theme);

$primary: map-get($cashout-portal-theme, primary);
$accent: map-get($cashout-portal-theme, accent);

:root {
  --color-primary: #{mat-color($cashout-portal-primary)};
  --color-primary-lighter: #{mat-color($cashout-portal-primary, lighter)};
  --color-accent: #{mat-color($cashout-portal-accent)};
  --color-accent-lighter: #{mat-color($cashout-portal-accent, lighter)};
  --color-warn: #{mat-color($cashout-portal-warn)};
  --color-success: #{mat-color($cashout-portal-success)};
}

html, body { height: 100%; }
body { margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-primary{
  color: var(--color-primary);
}

.f-g-color{
  color: var(--color-primary);
}

button{
  width: 400px;
  color: #dd4f05;
}

.content {
  position: relative;
  top: 60px;
  min-height: 115vh;;
  margin-bottom: 20px;
  // .page-wrapper {
  //   background-color: #FFFFFFEE;
  //   padding: 35px 80px;
  //   // height: 83vh;
  // }
  .mat-button,
  // .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    min-width: 64px;
    line-height: 10px;
    padding: 0 20px;
  }
}

.small-button{
  min-width: 40px;
}

.mat-typography {
  .mat-body, .mat-headline, .mat-h2, .mat-title, p, h1, h2 {
    // margin: 0;
  }
}

.gt-mx-52 {
  margin: 0 52px;
}

.spacer {
  flex: 1 1 auto;
}

.c-pointer{
  cursor: pointer;
}

// No record for table class
.no-records {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.profiler-table-with-head {
  width: 100%;
  border-collapse: separate !important;
  background-color: transparent !important;
  min-width: 600px !important;
}
.profiler-table-with-head td.mat-cell:first-of-type, .profiler-table-with-head td.mat-footer-cell:first-of-type, .profiler-table-with-head th.mat-header-cell:first-of-type {
  // border-top-left-radius: 4px;
  // border-bottom-left-radius: 4px;
  padding-left: 20px;
}

.profiler-table-with-head td.mat-cell:last-of-type, .profiler-table-with-head td.mat-footer-cell:last-of-type, .profiler-table-with-head th.mat-header-cell:last-of-type {
  padding-right: 20px;
  }

.profiler-table-with-head th.mat-header-cell {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  white-space: pre;
  background-color: #37474f;
  border-bottom: 1px solid #f8f9fa;
}

.profiler-table-with-head tr:nth-of-type(even) {
  background-color: #FFFFFFEE;
}

.profiler-table-with-head tr:nth-of-type(odd) {
  background-color: #f7f7f7;
}



.profiler-table-with-head tr:last-child {
  padding: 0;
  border-bottom-style: none;
}

.profiler-table-with-head td.mat-cell {
  padding: 25px 5px;
  font-weight: 400;
  border: hidden;
  border-bottom: 2px solid #f8f9fa;
  color: rgba(36, 35, 35, 0.8) !important;
  font-size: 14px;
}


.profiler-table-with-head tr.mat-footer-row, .profiler-table-with-head tr.mat-row {
  min-height: 65px !important;
  
}





.mat-paginator.profiler-table-pagination {
  margin: 0 auto;



.mat-paginator-range-label {
    order: 2;
}

.mat-paginator-navigation-previous {
    order: 1;
}
.mat-paginator-navigation-next {
    order: 3;
}
}

.profiler-table-pagination-top .mat-paginator-container {
  justify-content: end;
}


//POP OVER AND LOADERS
.profiler-table-pagination{
  width: 100%;
}

