<!-- <div class="w-100 h-100 onboarding-form-container">
  <img class="d-block w-100 h-100 " src="assets/images/background.jfif" alt="">

    <div class="justify-content-center position-fixed fixed-top">
      <div class="top" >
        <img class="logo img-fluid img-0 " width="50" height="50" src="assets/images/Logo_gtbank.png" alt="GTBank Logo">
      </div>

    <div class="text-center mb-0 mat-h2 p-1 mt-2 cashout-logo">
      <p>737 Cashout Portal</p>
    </div> -->

      <!-- Onboarding forms are loaded here based on the routing logic-->
      <div class="d-flex justify-content-center align-items-center dashboard">
            <router-outlet></router-outlet>
        <!-- <app-login></app-login> -->
        <!-- <app-search-criteria></app-search-criteria> -->
      </div>


      End of Onboarding
      <div class="footer mt-3">
        <p>
            <a class="mat-small text-primary" href="https://www.gtbank.com/" target="_blank">GTBank.com</a> |
            <a class="mat-small" href="https://www.gtbank.com/" target="_blank">Terms and Conditions</a>
        </p>
      </div>
    <!-- </div>
</div> -->

